---
import { getCollection } from "astro:content";

import BaseLayout from "src/layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "@components/Hero.astro";
import Pill from "../../components/Pill.astro";

const allPosts = await getCollection("post");

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = "Tag Index";
const pageDescription = "Tag Index page";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <div class="stack gap-20">
    <div class="wrapper">
      <Hero
        title="Select specific tag to show posts"
        tagline="#"
        align="start"
      />
      <div class="tags">
        {
          tags.map((tag) => (
            <Pill>
              <a href={`/tags/${tag}`}>{tag}</a>
            </Pill>
          ))
        }
      </div>
    </div>
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  a {
    color: unset;
    text-decoration: none;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
  }

  .tags {
    display: flex;
    gap: 0.5rem;
  }

  @media (min-width: 50em) {
    .details {
      flex-direction: row;
      gap: 2.5rem;
    }

    .content :global(blockquote) {
      font-size: var(--text-2xl);
    }
  }
</style>
