---
import { Image } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";
import MaxWidthLayout from "@layouts/MaxWidthLayout.astro";
import ContactCTA from "@components/ContactCTA.astro";
import Hero from "@components/Hero.astro";
import Stack from "@components/Stack.astro";

import atWork from "../images/at-work.jpg";
---

<BaseLayout title="About | Aryamann Verma" description="About Aryaman Verma">
  <Stack gapClass="gap-20">
    <MaxWidthLayout>
      <!-- stacking on mobile, grid with 1fr 60% 1fr on desktop -->
      <main class="about">
        <Hero
          title="About"
          tagline="Hey Visitor! Thanks for stopping by. I'm Aryamann which translates to 'a companion'. I'm currently gaining experience in the web development world."
        >
          <Image
            src={atWork}
            alt="Aryamann Verma at work"
            width="1553"
            height="873"
          />
        </Hero>

        <section>
          <h2 class="section-title">Background</h2>
          <div class="content">
            <p>
              I'm Aryamann Verma, a software engineer with a passion for
              problem-solving and programming. My experience spans from field
              technician work to developing personal projects, always with a
              focus on leveraging technology to create efficient solutions.
            </p>
          </div>
        </section>
        <section>
          <h2 class="section-title">Education</h2>
          <div class="content">
            <ul>
              <li>
                Diploma in Computer Programming, Georgian College (2021-2023)
              </li>
              <li>
                Key courses: Object-Oriented Programming, Advanced Databases,
                Web Programming, Cloud Computing
              </li>
            </ul>
          </div>
        </section>
        <section>
          <h2 class="section-title">Skills</h2>
          <div class="content">
            <ul>
              <li>
                Languages: Java, JavaScript, Python, C/C++, C#, SQL, HTML/CSS
              </li>
              <li>
                Frameworks & Tools: React.js, Node.js, Vue.js, REST API, Git,
                AWS
              </li>
              <li>
                Specialties: Full-stack development, Network management, Cloud
                platforms
              </li>
            </ul>
          </div>
        </section>
      </main>
    </MaxWidthLayout>
    <ContactCTA />
  </Stack>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
