---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"post">;
}

// destructuring of property values from an object
const { data, slug } = Astro.props.post;
const {title, publishDate, description} = data;
---

<li>
  <a href={`/blog/${slug}`}>
    <article>
      <h2>{title}</h2>
      <p>{publishDate}</p>
      <p>{description}</p>
    </article>
  </a>
</li>
