---
import Stack from "./Stack.astro";

interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
  uiType?: 'small' | 'medium' | 'large';
}

const { align = "center", tagline, title, uiType = 'large' } = Astro.props;
---

<div class:list={["hero", align, uiType]}>
  <Stack gapClass="gap-4">
    <Stack gapClass="gap-2">
      <h1 class="title">{title}</h1>
      {tagline && <p class="tagline">{tagline}</p>}
    </Stack>
    <slot />
  </Stack>
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }

  .medium .title {
    font-size: 3rem;
  }

  .medium .tagline {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .title {
    font-size: var(--text-3xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-5xl);
    }
  }
</style>
